In [42]:
from sklearn.tree import DecisionTreeClassifier
from  sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
from IPython.display import display
import random
random.seed(42)

In [22]:
data = pd.read_csv('Titanic.csv')

In [23]:
display(data.head())

,Name,PClass,Age,Sex,Survived
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0
4,"Allison, Master Hudson Trevor",1st,0.92,male,1

In [39]:
outcomes = data['Survived']

In [29]:
new_data = data.drop('Survived',axis = 1)

In [33]:
new_data.head()
display(feature.head())

0    1
1    0
2    0
3    0
4    1
Name: Survived, dtype: int64

In [35]:
features = pd.get_dummies(new_data)

In [36]:
features = features.fillna(0.0)
display(features.head())

,Age,"Name_Abbing, Mr Anthony","Name_Abbott, Master Eugene Joseph","Name_Abbott, Mr Rossmore Edward","Name_Abbott, Mrs Stanton (Rosa)","Name_Abelseth, Miss An Karen","Name_Abelseth, Mr Olaus","Name_Abelson, Mr Samuel","Name_Abelson, Mrs Samuel (An)","Name_Abraham, Mrs Joseph (Sophie Easu)",...,"Name_tsch, Mr Charles H","Name_ughton, Miss Hanh","Name_vratil, Master Edmond Roger","Name_vratil, Master Michel M","Name_vratil, Mr Michel",PClass_1st,PClass_2nd,PClass_3rd,Sex_female,Sex_male
0,29.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,2.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
2,30.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,25.00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4,0.92,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, outcomes, test_size=0.2, random_state=42)

In [43]:
model = DecisionTreeClassifier()

In [44]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [46]:

# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 1.0
The test accuracy is 0.7984790874524715

In [61]:
#improving the Model
model = DecisionTreeClassifier(max_depth=10, min_samples_leaf=6, min_samples_split=6)
model.fit(X_train, y_train)

# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculating accuracies
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print('The training accuracy is', train_accuracy)
print('The test accuracy is', test_accuracy)

The training accuracy is 0.8438095238095238
The test accuracy is 0.8022813688212928